{% extends 'base.html' %}

{% block title %}
Boggle!
{% endblock %}

{% block content %}
<div id="container" class="container text-center">
    <h2> High Score: <i id="high-score">{{high_score}}</i></h2>
    <h2>Score: <i id="score">0</i></h2>
    <h2>Time Left: <i id="time">60</i></h2>
    <div id="board">
        <table id="game">
            <tbody>{% for row in board %}
                <tr>{% for char in row %}
                    <td class = "border border-light">
                        <div class = "text-center   align-items-center    justify-content-center     text-light">{{char}}</div>
                    </td>{% endfor %}
                </tr>{% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div id="message" class="container text-center"></div>

<div id="endgame" class="container text-center justify-content-center">
    <h2>Game Over!</h2>
    <h3>Your Score: <i id="end-score"></i></h3>
    <h3>High Score: <i id="end-high"></i></h3>
    <h3 id="new-high">Congrats! You got a new high score!</h3>
    <button id="new-btn">New Game!</button>
</div>

<div class="container text-center">
    <button id="start-game">Start</button>
</div>

<div id="form" class="container justify-content-center text-center">
    <form method='POST' id="guess-form">
        <input type="text" id='guess'>
        <button id="form-btn">Submit Guess</button>
    </form>
</div>

<script src="/static/game.js"></script>
{% endblock %}